<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <title>{% block title%} башкы бет {% endblock %}</title>
</head>
<body>
  
  <h1>регистрация пользователей</h1>
  <div class="register">
      <form action="create/" method="post">
      {% csrf_token %}
        <label for="">ведите имя </label>
        <input type=" text" name="name" id="" placeholder="Umutay">
        <label for="">ведите сколько вам лет </label>
        <input type="number" name="age" id="">
        <input type="submit" value=" сохранить" >
        </form>
       </div>
  
  
  
  <table border="2">
    <th>номер пользователя</th>
    <th> имя пользователя</th>
    <th> лет пользователя</th>
    <th>функция</th>

    {% for person in user %}
    <tr>
       <td>{{person.id}}</td>
      <td> {{person.name}} </td>
      <td> {{person.age}} </td>
      <td> <a href="/edit/{{ person.id }}">поменять </a>
        <a href="/delete/{{ person.id }}">удалять </a></td>

    </tr>
 {% endfor %}
  </table>
    
</div>

</body>
</html>   